
import(mixOmics, ggplot2, reticulate)

importFrom("utils", "browseURL")

importFrom("methods", "is")

importFrom("graphics", "barplot")

importFrom("phyloseq", "otu_table", "phyloseq", "distance")

importFrom("vegan", "vegdist")

importFrom("corrplot", "corrplot")

importFrom("psych", "tr")

importFrom("stats", "reorder", "quantile", "median", "as.dist")

importFrom("quadprog", "solve.QP")

importFrom("LDRTools", "Pdist", "O2P")

importFrom("Matrix", "forceSymmetric")

export(
cim.kernel,
combine.kernels,
compute.kernel,
kernel.pca.permute,
kernel.pca,
mixKernel.users.guide,
plotVar.kernel.pca,
ukfs
)

S3method(plot, kernel.pca)